.category {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
  border-radius: 3.125rem; 
  border: 0.09375rem solid #DBE1E5; 

  p {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
