.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(0.25rem, 0.5vw + 0.1rem, 0.25rem);

  img {
    width: clamp(15rem, 20vw + 2rem, 17.625rem);
    border-radius: clamp(0.5rem, 1vw + 0.1rem, 0.5rem);
    
    @media (max-width: 555px) {
      width: 100%;
    }
  }

  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    h4 {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: clamp(0.875rem, 1.5vw + 0.25rem, 1rem);
      font-style: normal;
      font-weight: 500;
      line-height: clamp(1.125rem, 2vw + 0.5rem, 1.5rem);
    }

    .first-inner {
      display: flex;
      align-items: flex-end;
      gap: clamp(0.625rem, 1vw + 0.25rem, 0.625rem);
      align-self: stretch;

      .star {
        display: flex;
        align-items: flex-start;
      }

      p {
        color: #6c757d;
        font-family: "Roboto", sans-serif;
        font-size: clamp(0.75rem, 1vw + 0.25rem, 0.875rem);
        font-style: normal;
        font-weight: 400;
        line-height: clamp(1rem, 1.5vw + 0.25rem, 1rem);
      }
    }
  }
}