.Recent {
  display: flex;
  width: clamp(15rem, 40vw + 5rem, 17.625rem);
  height: clamp(3rem, 6vw + 1rem, 3.75rem);
  padding: clamp(0.375rem, 1vw + 0.125rem, 0.5rem);
  justify-content: space-between;
  align-items: center;
  border-radius: clamp(2.5rem, 4vw + 1rem, 3.125rem);
  border: 0.0625rem solid #dbe1e5;

  @media(max-width: 638px) {
    width: 100%;
  }

  .hello {
    display: flex;
    align-items: center;
    gap: clamp(0.75rem, 1vw + 0.25rem, 1rem);

    img {
      width: clamp(2.5rem, 4vw + 1rem, 3.0625rem);
      border-radius: clamp(2.5rem, 4vw + 1rem, 3.0625rem);
    }

    p {
      color: #212529;
      font-family: "Roboto", sans-serif;
      font-size: clamp(0.75rem, 1vw + 0.25rem, 0.875rem);
      font-style: normal;
      font-weight: 500;
      line-height: clamp(1.2rem, 2vw + 0.3rem, 1.5rem);
    }
  }

  .crossContainer {
    .cross {
      display: flex;
      padding: clamp(0.25rem, 0.5vw + 0.125rem, 0.375rem);
      align-items: flex-start;
      gap: clamp(0.375rem, 0.75vw + 0.125rem, 0.5rem);
      border-radius: clamp(2.5rem, 4vw + 1rem, 3.125rem);
      border: 0.0625rem solid #dbe1e5;
      cursor: pointer;
    }
  }
}