.Venue {
  .container {
    .venue-info {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin: 6.25rem 0;
      width: 100%;

      .features {
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }
}
